<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Display name not changed</title>
    <link type="text/css" rel="stylesheet" href="/std.css"/>
</head>
<body>
<h1 align="center">DISPLAY NAME NOT CHANGED</h1>
<hr width=80%/>
<table style="border: 0;width: 100%;">
    <tr>
        <td style="width: 19%;"></td>
        <td style="width: 62%; background: rgba(0,0,0,.3); padding: 30px;">
            <h2 th:text="${REASON}"></h2>
            <a href="/">Go to main page</a><br/>
            <a href="/login.html">Go to login page</a>
        </td>
        <td style="width: 19%;"></td>
    </tr>
</table>
</body>
</html>
