<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Password changed</title>
  <link type="text/css" rel="stylesheet" href="/std.css" />
</head>
<body>
<h1 align="center">SUCCESS</h1>
<hr width=80% />
<table style="border: 0;width: 100%;">
  <tr>
    <td style="width: 19%;"></td>
    <td style="width: 62%; background: rgba(0,0,0,.3); padding: 30px;">
      <h2>Your password has been changed</h2>
      <a href="/">Homepage</a><br />
      <a href="/home">Go to user home</a>
    </td>
    <td style="width: 19%;"></td>
  </tr>
</table>
</body>
</html>
