<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>SimpleSpringWebServer</title>
    <link rel="preload" href="/std.css" as="style"/>
    <link type="text/css" rel="stylesheet" href="/std.css"/>
</head>
<body>
<div class="navbar">
    <table>
        <tr>
            <td width="50%"><h2>&nbsp;<a href="/" style="color:white">MAIN PAGE</a></h2></td>
            <td style="text-align:center"><a href="/about">About</a></td>
            <td style="text-align:center"><a href="/posts">Posts</a></td>
            <td style="text-align:center"><a href="/home">Account</a></td>
        </tr>
    </table>
</div>
<h1>&nbsp;</h1>
<hr width=80% style="border:dashed 2px"/>
<table style="border:0px; width:100%">
    <tr>
        <td style="width:19%"></td>
        <td style="width:62%; background:rgba(0,0,0,.3); padding:30px;">
            <h1>PLACEHOLDER PAGE</h1>
            <hr/>
            <h2>The owner of this web site has not put up any web pages yet. Please come back later.</h2><br/>
            <a href="https://github.com/MCUmbrella/SimpleSpringWebServer">SimpleSpringWebServer</a><br/>
            <a href="https://github.com/MCUmbrella">MCUmbrella on GitHub</a>
        </td>
        <td style="width:19%;"></td>
    </tr>
</table>
</body>
</html>
