<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/std.css" />
</head>
<body>
<h1 align="center">Placeholder page</h1>
<hr width=80% />
<table style="border: 0;width: 100%;">
    <tr>
        <td style="width: 19%;"></td>
        <td style="width: 62%; background: rgba(0,0,0,.3); padding: 30px;">
            <h2>The owner of this web site has not put up any web pages yet. Please come back later.</h2>
            <a href="/login.html">Login</a><br />
            <a href="/home">User home</a>
        </td>
        <td style="width: 19%;"></td>
    </tr>
</table>
</body>
</html>
