<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${TITLE}"></title>
    <link rel="preload" href="/std.css" as="style"/>
    <link type="text/css" rel="stylesheet" href="/std.css"/>
</head>
<body>
<div class="navbar">
    <table>
        <tr>
            <td width="50%"><h2>&nbsp;<a href="/" style="color:white">SYSTEM MESSAGE</a></h2></td>
            <td style="text-align:right"><a href="/home">(username)</a></td>
        </tr>
    </table>
</div>
<h1>&nbsp;</h1>
<hr width=80% style="border:dashed 2px"/>
<div class="contentbox">
    <h1 th:text="${HEADING}"></h1>
    <hr/>
    <h2 th:text="${DETAILS}"></h2>
    <button onclick="window.location.href='/'">Main page</button>&nbsp;&nbsp;
    <button onclick="window.history.back();">Previous page</button>
    <br/><br/>
</div>
<div class="navbox">
    <b>Navigation</b>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/home">My account</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
</body>
</html>
